
.text-platzi {
   color: #97c93e;
}

/* !ENCABEZADO */

.navbar img {
   width: 80px;
}


section .carousel-inner {
   max-height: 70vh;
   object-fit: cover;
   filter: grayscale(70%);
}










/* !FOOTER */

.footer {
   background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
}

.footer a {
   color: white;
}
